

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 7%;
    font-weight: bold;
}
h4{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
}
body{
    text-align: center;
}

button{
    margin: 5px;
}

img{
    min-width: 350px;
    max-height: 600px;
}

#qDiv{
    font-size: 20pt;
}
